/*----------- VARIABLES CSS -----------*/
:root {
    --header-height: 3rem;

    /*----------- colors -----------*/
    --background-color: #edf2fb;
    --second-background-color: #ffffff;
    --first-color: #ff7b00;
    --second-color: #ffa200;
    --third-color: #ffb700;

    /*----------- font -----------*/
    --body-font: 'Poppins', sans-serif;

    /*----------- size -----------*/
    --normal-font-size: .8rem;
    --big-font-size: .16rem;

    /*----------- z index -----------*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /*----------- font weight -----------*/
    --font-semi-bold: 550;
    --font-bold: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--body-font);
    background-color: var(--background-color);
  }

  h1 {
    color: var(--first-color);
    font-weight: var(--font-bold);
  }
  
  ul {
    list-style: none;
    padding: 2rem 0;
  }
  
  li {
      color: var(--third-color);
      font-weight: var(--font-semi-bold);
      padding: .3rem 0;
    }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input {
    padding: 7px;
    outline: none;
    border: 2px solid var(--second-color);
    border-radius: 4px;
  }

  label {
    color: var(--second-color);
    font-weight: var(--font-semi-bold-bold);
    font-size: 20px;
    padding: 5px 0;
    letter-spacing: 2px;
    text-transform: capitalize;
  }


  .submit_btn {
    transition: all .5s ease;
    color: var(--second-color);
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    background-color : transparent;
    outline: none;
    cursor:pointer;
    padding: 7px;
    outline: none;
    border: 2px solid var(--second-color);
    border-radius: 4px;
}

.submit_btn:hover {
    color: white;
    background-color: var(--second-color);
}

  .container {
    display: flex;
  }

#raw {
    height: 100vh;
    width: 20%;
    padding: 3rem;
    flex: none;
    background-color: var(--second-background-color);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    transition: .6s ease opacity,.6s ease transform;
    overflow: hidden;
}

  #flex-content {
    transition: visibility 10s, .8s ease opacity,.8s ease transform;
  }

  .sidebar_title {
      border-bottom: 3px solid var(--second-color);
      padding-bottom: 1rem;
  }

  
  /* Burger effect  */

  .burger_content {
    position: relative;
  }

  .icons {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  svg {
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1.5;
    cursor:pointer;
  }

  .svgBurger {
    fill: none;
    stroke: var(--second-color);
    stroke-width: 1px;
  }

  #top,
  #bottom {
    stroke-dasharray: 30, 75.39;
    transition: all 0.6s cubic-bezier(0.6, 0.33, 0.67, 1.29);
  }

  svg.active #top,
  svg.active #bottom {
    stroke-dasharray: 75.39;
    stroke-dashoffset: -60;
  }


  .container {
      flex: auto;
  }

  /* MAIN PART */

  .content {
    width: 100%;
  }

  .main_content {
      height: 100vh;
      padding: 3rem 6rem;
  }

  .create_content {
      padding: 10px 0;
  }

  .title_create_content {
      color: var(--first-color);
  }

  .form_create_content {
      background-color: var(--second-background-color);
      margin: 1rem 0;
      padding-bottom: 1.5rem;
      border-radius: 10px; 
  }

  .form {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
  }

  .form__ {
      padding: 10px;
      display: grid;
      width: 100%;
  }

  .form_save {
    padding: 0px 20px;
  }

  .todo_title {
    padding-top: 2.5rem;
    color: var(--first-color);
  }

  .modal_list {
    display: flex;
    position: relative;
    padding: 15px 0;
    margin: 1rem 0;
    background-color: var(--second-background-color);
    border-radius: 10px; 
    align-items: center;
  }

  .modal_item {
    padding: 0 15px ;
    display: flex;
    align-items: center;
  }

  .modal_date {
    position: absolute;
    right: 10px;
  }

/* HOVER SVG */

    .k {
    margin: 5px;
    }

    .ok:hover {
      fill: #31da2b;
    }

    .notOk:hover {
      fill: #da2b2b;

    }

    .correct:hover {
      fill: #da942b;

    }

    .delete:hover {
      fill: #da2b2b;

    }

     






